// Primary-alt blue solid button
.ds-c-button--primary-alt,
.ds-c-button--primary-alt:visited {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .ds-c-button--primary;
  background-color: $color-primary-alt;
  border-color: transparent;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */
  color: $color-white;

  &:hover,
  &.ds-c-button--hover {
    background-color: $color-primary-alt-dark;
    border-color: $color-primary-alt-dark;
    color: $color-white;
  }

  &:active,
  &.ds-c-button--active {
    background-color: $color-primary-alt-light;
    border-color: $color-primary-alt-light;
    color: $color-white;
  }

  &:focus,
  &.ds-c-button--focus {
    background-color: $color-primary-alt;

    // Ensure active and hover styles can be used with focus
    &:hover,
    &.ds-c-button--hover {
      background-color: $color-primary-alt-dark;
    }
    &:active,
    &.ds-c-button--active {
      background-color: $color-primary-alt-light;
    }
  }
}

// Big (landing page) button
.ds-c-button--big {
  font-family: $montserrat-font;
  font-weight: 600;
}
