$rubik-font: "Rubik", sans-serif;
$montserrat-font: "Montserrat", sans-serif;

$font-sans: "Rubik";

$display-font-size: 50px;
$title-font-size: 36px;
$h1-font-size: 36px;
$h1-font-size-mobile: 26px;
$h2-font-size: 24px;
$h3-font-size: 21px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$mct-p1-font-size: 18px;
$mct-p2-font-size: 16px;
$mct-p3-font-size: 14px;
$mct-p1-mobile-font-size: 18px;
$mct-p2-mobile-font-size: 17px;
$mct-p3-mobile-font-size: 17px;
