// Links
// Default link
$link-color: $color-primary-alt;
$link-visited-color: $color-primary-alt;
$link-hover-color: $color-primary-alt-dark;
$link-active-color: $color-primary-alt-dark;

// Inverse link
$link-inverse-color: $color-base-inverse;
$link-inverse-visited-color: $color-muted-inverse;
$link-inverse-hover-color: $color-muted-inverse;
$link-inverse-active-color: $color-muted-inverse;

// Link underline
$link-underline-height: 1px;
$link-underline-height-hover: 2px;
$link-underline-offset: 2px;
