// Specific style overrides that are not easily affected via variables alone.
.ds-display,
.ds-title,
.ds-h1,
.ds-h2,
.ds-h3,
.ds-h4,
.ds-h5,
.ds-h6,
.ds-text-heading--5xl,
.ds-text-heading--4xl,
.ds-text-heading--3xl,
.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg,
.ds-text-heading--md,
.ds-text-heading--sm {
  font-family: Montserrat;
  font-weight: $font-semibold;
  > a {
    color: $color-primary;
    $link-underline-offset: 3px;
    $text-decoration-color: $teal-300;
    &:hover {
      color: $color-primary-darker;
      $link-underline-height: 2px;
      $text-decoration-color: $color-primary-darker;
    }
  }
}

.ds-title,
.ds-text-heading--4xl {
  font-weight: 300;
}

.ds-h1,
.ds-text-heading--3xl {
  font-size: $h1-mobile-font-size;
  line-height: 32px;

  @media screen and (min-width: $width-md) {
    // line-height: 47px;
    font-size: $font-size-3xl;
  }
}

.ds-h2,
.ds-text-heading--2xl {
  // margin-top: 36px;
  // margin-bottom: 12px;
  @media screen and (max-width: $width-md) {
    font-size: 22px;
    line-height: 32px;
  }
}

.ds-h3,
.ds-text-heading--xl {
  // margin-top: 31.5px;
  // margin-bottom: 10.5px;
  @media screen and (max-width: $width-md) {
    font-size: 20px;
    line-height: 25px;
  }
}

.ds-h4,
.ds-text-heading--lg {
  // margin-top: 27px;
  // margin-bottom: 9px;
  @media screen and (max-width: $width-md) {
    font-size: 18px;
    line-height: 23px;
  }
}

.ds-h5,
.ds-text-heading--md {
  // margin-top: 24px;
  // margin-bottom: 8px;
  @media screen and (max-width: $width-md) {
    font-size: 17px;
    line-height: 21px;
  }
}

.ds-h6,
.ds-text-heading--sm {
  // text-transform: uppercase;
  // letter-spacing: 0.5px;
  color: $color-base;
  // margin-top: 21px;
  // margin-bottom: 7px;
  @media screen and (max-width: $width-md) {
    font-size: 14px;
    line-height: 18px;
  }
}

.ds-text--lead,
.ds-text-body--lg {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
}

.mct-p1,
.ds-text-body--lg,
.mct-p2,
.ds-text-body--md,
.mct-p3,
.ds-text-body--sm {
  color: $black-500;
  font-family: Rubik;
  font-weight: 400;
}

.mct-p1,
.ds-text-body--lg {
  font-size: $font-size-lg;
  line-height: 27px;
  @media screen and (max-width: $width-md) {
    font-size: $font-size-lg;
    line-height: 27px;
  }
}

.mct-p2,
.ds-text-body--md {
  font-size: $font-size-md;
  line-height: 24px;
  @media screen and (max-width: $width-md) {
    font-size: $mct-p2-mobile-font-size;
    line-height: 25px;
  }
}

.mct-p3,
.ds-text-body--sm {
  font-size: $font-size-sm;
  line-height: 18px;
  @media screen and (max-width: $width-md) {
    font-size: $mct-p3-mobile-font-size;
    line-height: 23px;
  }
}
