%link,
%link-darker {
  color: $color-primary-alt-light;

  // Override visited with hover
  &:hover,
  &:active {
    color: $color-primary-alt;
  }

  &.mct-link--inverse {
    @extend %link-inverse;
  }
}

%link-inverse {
  // override link inverse visited color
  &:visited {
    color: $color-white;
  }
}
