svg {
  &.ds-u-color--success {
    .apply-fill {
      fill: $color-success;
    }
  }

  &.ds-u-color--error {
    .apply-fill {
      fill: $color-error;
    }
  }

  &.ds-u-color--white {
    .apply-fill {
      fill: #fff;
    }
  }
}

.ds-c-dialog__close {
  background: url(./images/CloseSymbol.svg) center center no-repeat !important;
  background-size: 16px 16px !important;
  padding: 5px !important;
  min-width: 20px;
  min-height: 20px;
  color: transparent !important;
}
