// Specific style overrides that are not easily affected via variables alone.
.ds-display,
.ds-title,
.ds-h1,
.ds-h2,
.ds-h3,
.ds-h4,
.ds-h5,
.ds-h6,
.ds-text-heading--5xl,
.ds-text-heading--4xl,
.ds-text-heading--3xl,
.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg,
.ds-text-heading--md,
.ds-text-heading--sm {
  font-family: Montserrat;
  font-weight: $font-semibold;
}

.ds-h1,
.ds-text-heading--3xl {
  font-size: $font-size-2xl;
  line-height: 40px;
  margin-bottom: 44px;
  @media screen and (min-width: $width-md) {
    font-size: $font-size-3xl;
    line-height: 48px;
    margin-bottom: 52px;
  }
}

.ds-h2,
.ds-text-heading--2xl {
  font-size: $font-size-2xl;
  line-height: 40px;
  margin-bottom: 44px;
  @media screen and (max-width: $width-md) {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 44px;
  }
}

.ds-h3,
.ds-text-heading--xl {
  font-size: $font-size-xl;
  line-height: 32px;
  margin-bottom: 32px;
  @media screen and (max-width: $width-md) {
    font-size: $font-size-xl;
    line-height: 32px;
    margin-bottom: 32px;
  }
}

.ds-h4,
.ds-text-heading--lg {
  font-size: $font-size-lg;
  line-height: 28px;
  margin-bottom: 24px;
  @media screen and (max-width: $width-md) {
    font-size: $font-size-lg;
    line-height: 28px;
    margin-bottom: 24px;
  }
}

.ds-h5,
.ds-text-heading--md {
  font-size: $font-size-md;
  line-height: 24px;
  margin-bottom: 16px;
  @media screen and (max-width: $width-md) {
    font-size: $font-size-md;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.ds-h6,
.ds-text-heading--sm {
  color: $color-base;
  font-size: $font-size-sm;
  line-height: 20px;
  margin-bottom: 8px;
  @media screen and (max-width: $width-md) {
    color: $color-base;
    font-size: $font-size-sm;
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.mct-p1,
.ds-text-body--lg,
.mct-p2,
.ds-text-body--md,
.mct-p3,
.ds-text-body--sm {
  color: $black-500;
  font-family: Rubik;
  font-weight: 400;
  margin-top: 0;
}

.mct-p1,
.ds-text-body--lg {
  font-size: $font-size-lg;
  line-height: 28px;
  margin-bottom: 12px;
}

.mct-p2,
.ds-text-body--md {
  font-size: $font-size-md;
  line-height: 24px;
  margin-bottom: 8px;
}

.mct-p3,
.ds-text-body--sm {
  font-size: $font-size-sm;
  line-height: 20px;
  margin-bottom: 8px;
}
