// Links
// Default link
$link-color: $color-primary;
$link-visited-color: #701e3c;
$link-hover-color: $color-primary-darker;
$link-active-color: $color-primary-darkest;

// Inverse link
$link-inverse-color: $color-base-inverse;
$link-inverse-visited-color: $color-muted-inverse;
$link-inverse-hover-color: $color-muted-inverse;
$link-inverse-active-color: $color-muted-inverse;

// Link underline
$link-underline-height: 1px;
$link-underline-height-hover: 3px;
$link-underline-offset: 0;
